In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data.xlsx')
print("Data imported")

Data imported

In [5]:
df.head(20)

  Country   Age   Salary Purchased
0  France  44.0  72000.0        No
1   Italy  27.0  48000.0       Yes
2  Norway  30.0  54000.0        No
3   Italy  38.0  61000.0        No
4  Norway  40.0      NaN       Yes
5  France  35.0  58000.0       Yes
6   Italy   NaN  52000.0        No
7  France  48.0  79000.0       Yes
8  Norway  50.0  83000.0        No
9  France  37.0  67000.0       Yes

In [6]:
from sklearn.preprocessing import Imputer

In [10]:
imputer = Imputer(missing_values= 'NaN', strategy='mean', axis=0) #object initilisation
#Mode = most_frequent

In [12]:
X = df.iloc[:,:-1].values #ndarray
y = df.iloc[:,3].values 

print("X",X)
print("Y",y)

X [['France' 44.0 72000.0]
 ['Italy' 27.0 48000.0]
 ['Norway' 30.0 54000.0]
 ['Italy' 38.0 61000.0]
 ['Norway' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Italy' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Norway' 50.0 83000.0]
 ['France' 37.0 67000.0]]
Y ['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [16]:
imputer = imputer.fit(X[:,1:3]) #to use fit, data should be in the form of array. 
#So divide the data into X, Y
X[:,1:3] = imputer.transform(X[:,1:3])
print("X is imputed")

X is imputed

In [15]:
print(X)

[['France' 44.0 72000.0]
 ['Italy' 27.0 48000.0]
 ['Norway' 30.0 54000.0]
 ['Italy' 38.0 61000.0]
 ['Norway' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Italy' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Norway' 50.0 83000.0]
 ['France' 37.0 67000.0]]